.breezu {
    .body {
        width: calc(100vw - 32px);
        min-height: calc(100vh - 165px);
        margin: 16px;
        /* 24px */
        margin-top: 0;
    }

    .body>div {
        vertical-align: top;
        /* width: 100%; */
    }

    .body>div:last-child {
        margin-bottom: 24px;
    }

    /* Body blocks */

    .main,
    .lmain>div,
    .cmain>div,
    .rmain>div,
    .lcmain>div,
    .crmain>div {
        width: 100%;
        background-color: var(--block);
        border-radius: var(--radius-big);
        box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
        transition: box-shadow 0.3s ease-in-out;
        margin-top: 24px;
    }

    /*
    .lmain > div,
    .cmain > div,
    .rmain > div,
    .lcmain > div,
    .crmain > div {
        margin: 24px 0;
    } */

    @media (min-width: 769px) {

        .lmain,
        .cmain,
        .lcmain {
            margin-right: 12px;
        }

        .rmain,
        .cmain,
        .crmain {
            margin-left: 12px;
        }

        .lmain {
            width: calc(29% - 12px);
        }

        .cmain {
            width: calc(39% - 24px);
        }

        .rmain {
            width: calc(32% - 12px);
        }

        .lcmain {
            width: calc(68% - 12px);
        }

        .crmain {
            width: calc(71% - 12px);
        }
    }

    @media (max-width: 768px) {

        .lmain,
        .cmain,
        .rmain,
        .lcmain,
        .crmain {
            width: 100%;
        }
    }

    /* Grid */

    @media (min-width: 951px) {
        .half_medium {
            width: 50%;
        }

        .half_medium:first-child {
            padding-right: 12px;
        }

        .half_medium:last-child {
            padding-left: 12px;
        }
    }

    @media (max-width: 950px) {
        .half_medium {
            width: 100%;
        }

        .half_medium:last-child {
            margin-top: 16px;
        }
    }

    /* Text block */

    .text {
        padding: 20px;
        padding-top: 18px;
    }

    .text h2 {
        margin: 6px 0 2px 0;
        font-size: 1.25em;
        font-weight: 600;
    }

    .text h2:first-child {
        margin-top: 0;
    }

    .text h3 {
        font-size: 1.1em;
    }

    /* Link */

    .link {
        display: inline-flex;
        align-items: center;
        color: var(--link);
        border-bottom: 1.5px dashed var(--link);
    }

    .link i {
        color: var(--link);
        margin: 1px 0 0 5px;
    }

    .link:hover,
    .link:hover i {
        color: var(--link-hover);
    }

    /* Other */

    /* .widget_title {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: .7rem;
    } */

    /* .result td {
        border: 1px solid;
    }

    .result td:first-child {
        width: 60%;
    }

    .result td:last-child {
        width: 40%;
    } */
}
