.breezu {
    /* .search_cover {
        width: 100%;
        position: sticky;
        top: 0;
        height: 58px;
        margin-bottom: 36px;
        backdrop-filter: blur(8px);
        z-index: 700;
    } */

    .search {
        width: 100%;
        position: relative;
        height: 62px;
        display: flex !important;
        align-items: center;
        background-color: #fff;
        border-radius: var(--radius-big);
        white-space: nowrap;
        box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, .12);
        transition: box-shadow 0.3s ease-in-out;
        position: relative;
        z-index: 90;
        margin: 18px 0 8px 0;
    }
    .search:hover {
        box-shadow: 0 .75rem 2.25rem rgba(0, 0, 0, .2);
    }

    .search input {
        height: 62px !important;
        font-size: 1.2em;
        padding: 0 1em !important;
        border: 0 !important;
        min-width: 40%;
    }

    .search .filter {
        /* width: auto !important; */
        /* display: inline-flex; */
        height: 62px;
        background-color: #fff;
        border-radius: 0 !important;
        border-left: 2px solid #eee;
        margin: 0;
        max-width: 20%;
    }

    .search > *:first-child {
        border-top-left-radius: var(--radius-big) !important;
        border-bottom-left-radius: var(--radius-big) !important;
    }
    .search > *:last-child {
        border-top-right-radius: var(--radius-big) !important;
        border-bottom-right-radius: var(--radius-big) !important;
    }
}
